<div class="container">
    <!-- <h1>Welcome</h1> -->
    <a>
        <img src="./../../../assets/logo.png" alt="logo" />
    </a>
    <div class="loginForm">
        <p>Name</p>
        <hr>
        <p>Last Name</p>
        <hr>
        <p>Email</p>
        <hr>
        <p>Password</p>
        <hr>
    </div>
    <div class="buttons">

        <a href="login">
            <div class="button">
                <p>Create</p>
            </div>
        </a>
        <a href="">
            <div class="button">
                <p>Back</p>
            </div>
        </a>
    </div>
</div>