<div class="container">
    <!-- <h1>Welcome</h1> -->
    <a>
        <img src="./../../../assets/logo.png" alt="logo" />
    </a>
    <div class="loginForm">
        <p>Username</p>
        <hr>
        <p>Password</p>
        <hr>
    </div>
    <div class="buttons">

        <a href="home">
            <div class="button">
                <p>Login</p>
            </div>
        </a>
        <p>Forgot Password?</p>
        <br>
        <a href="signup">
            <div class="button">
                <p>Create</p>
            </div>
        </a>
        <p>Don't have an account?</p>
        
    </div>
</div>