<div class="container">
    <!-- <h1>Welcome</h1> -->
    <a href="/">
        <img src="./../../../assets/logo.png" alt="logo" />
    </a>
    <div class="buttons">

        <a>
            <div class="button">
                <p>Timer</p>
                <p></p>
            </div>
        </a>
        <a>
            <div class="button">
                <p>Customize</p>
                <p>a</p>
                <p>Routine</p>
            </div>
        </a>
    </div>
    <div class="buttons">

        <a>
            <div class="button">
                <p>Activities</p>
                <p></p>
            </div>
        </a>
        <a>
            <div class="button">
                <p>Stop</p>
                <p></p>
                <p></p>
            </div>
        </a>
    </div>
</div>